<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="css/login.css" type="text/css">
        <link rel="icon" type="images/x-icon" href="images/icons/socialnetwork_ico.png">
    </head>
    <body>
        <form id="login_form" name="login_form" method="post">
            <label for="email_input_l">Email: </label>
            <input type="text" id="email_input_l" name="email_input_l"><br>

            <label for="password_input_l">Password: </label>
            <input type="text" id="password_input_l" name="password_input_l"><br>

            <input type="submit" id="submit_btn_l" value="submit">
        </form>

        <script defer type="text/javascript" src="js/DBRequiresClass.js"></script>
        <script defer type="text/javascript" src="js/login.js"></script>
    </body>
</html>