<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="css/login.css" type="text/css">
    </head>
    <body>
        <form id="login_form" name="login_form" method="post">
            <label for="username_or_email_input_l">Username: </label>
            <input type="text" id="username_or_email_input_l" name="username_or_email_input_l"><br>

            <label for="password_input_l">Password: </label>
            <input type="text" id="password_input_l" name="password_input_l"><br>

            <input type="submit" id="submit_btn_l" value="submit">
        </form>

        <script type="text/javascript" src="js/login.js"></script>
    </body>
</html>