<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="css/signup.css" type="text/css">
    </head>
    <body>
        <form id="signup_form" name="signup_form" method="post">
            <label for="username_input_s">Username: </label>
            <input type="text" id="username_input_s" name="username_input_s"><br>

            <label for="email_input_s">Email: </label>
            <input type="text" id="email_input_s" name="email_input_s"><br>

            <label for="password_input_s">Password: </label>
            <input type="text" id="password_input_s" name="password_input_s"><br>

            <label for="phone_input_s">Phone: </label>
            <input type="text" id="phone_input_s" name="phone_input_s"><br>

            <input type="submit" id="submit_btn_s" value="submit">
        </form>

        <script src="js/signup.js" type="text/javascript"></script>
    </body>
</html>