<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="css/socialnetwork.css" type="text/css">
        <link rel="icon" type="images/x-icon" href="images/icons/socialnetwork_ico.png">
    </head>
    <body>
        <h1>Hello, its... SOCIAL NETWORK BUGAGAGA</h1>

        <script defer src="js/socialnetwork.js" type="text/javascript"></script>
    </body>
</html>